<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSProductoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServicioMyPizza/WSProducto"
                binding="basicHttpBinding" bindingConfiguration="WSProductoPortBinding"
                contract="ServiceReference1.WSProducto" name="WSProductoPort" />
        </client>
    </system.serviceModel>
</configuration>