<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSProductoPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/ServicioWeb/WSProducto"
                binding="basicHttpBinding" bindingConfiguration="WSProductoPortBinding"
                contract="ServiceProducto.WSProducto" name="WSProductoPort" />
        </client>
    </system.serviceModel>
</configuration>